@import url("https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyBPBCldf1C-UFcQB3uYxxrV5cTh8er2bZo");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


body {
    background: aliceblue;
}

header {
    background: #656af7;
    padding: 18px 0;
    color: antiquewhite;
    font-size: 1.75rem;
    text-align: center;

}

main {
    display: flex;

}

.todaysWeather {
    background-color: rgb(177, 177, 215);
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    justify-content: space-around;
}

.display {
    display: flex;
    /*! this will put a border around the forecast box */
    /* border: 2px solid black; */
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.searchButton {
    width: 100%;
}

.card {
 background-color: rgb(149, 211, 236);   

}